VITE_SUPABASE_URL=https://egpmynqpptmwmpogrsqp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVncG15bnFwcHRtd21wb2dyc3FwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNzUwODQsImV4cCI6MjA4ODk1MTA4NH0.fqg9B6tfVzYON1WhZkd5Df7fgk6o52rSa-UAOUaSJng
