SUPABASE_URL=https://egpmynqpptmwmpogrsqp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVncG15bnFwcHRtd21wb2dyc3FwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM3NTA4NCwiZXhwIjoyMDg4OTUxMDg0fQ.CVwNsSdu-d2-y5j13s1bguPcBBc-rO0YRT5Hsp8UbHo
PORT=3001
